### Import Python Modules

In [10]:
import pandas as pd
import numpy as np 
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
from datetime import datetime
import os

### Importing the Stock Prices

In [11]:
AAPL=pd.read_csv('individual_stocks_5yr/AAPL_data.csv')
GOOG=pd.read_csv('individual_stocks_5yr/GOOG_data.csv')
MSFT=pd.read_csv('individual_stocks_5yr/MSFT_data.csv')
AMZN=pd.read_csv('individual_stocks_5yr/AMZN_data.csv')

In [12]:
AAPL['date']=pd.to_datetime(AAPL['date'])
GOOG['date']=pd.to_datetime(AAPL['date'])
MSFT['date']=pd.to_datetime(AAPL['date'])
AMZN['date']=pd.to_datetime(AAPL['date'])

### Forecasting Apple Stock Price

In [13]:
AAPL.head()

        date     open     high      low    close     volume  Name
0 2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL
1 2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425  AAPL
2 2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363  AAPL
3 2013-02-13  66.7442  67.6628  66.1742  66.7156  118721995  AAPL
4 2013-02-14  66.3599  67.3771  66.2885  66.6556   88809154  AAPL

In [14]:
df_prophet=AAPL[['date','close']]
df_prophet=df_prophet.sort_values('date')
df_prophet

           date     close
0    2013-02-08   67.8542
1    2013-02-11   68.5614
2    2013-02-12   66.8428
3    2013-02-13   66.7156
4    2013-02-14   66.6556
...         ...       ...
1254 2018-02-01  167.7800
1255 2018-02-02  160.5000
1256 2018-02-05  156.4900
1257 2018-02-06  163.0300
1258 2018-02-07  159.5400

[1259 rows x 2 columns]

**Renaiming the Column names to Suite Prophet Algorithm**

In [15]:
df_prophet=df_prophet.rename(columns={'date':'ds','close':'y'})
df_prophet

             ds         y
0    2013-02-08   67.8542
1    2013-02-11   68.5614
2    2013-02-12   66.8428
3    2013-02-13   66.7156
4    2013-02-14   66.6556
...         ...       ...
1254 2018-02-01  167.7800
1255 2018-02-02  160.5000
1256 2018-02-05  156.4900
1257 2018-02-06  163.0300
1258 2018-02-07  159.5400

[1259 rows x 2 columns]

**Creating the Prophet Model**

In [ ]:
import random 
import seaborn as sns
!conda install -c conda-forge fbprophet -y
!pip install --upgrade plotly
from fbprophet import Prophet
m=Prophet()
m.fit(df_prophet)
future=m.make_future_dataframe(periods=365)
forecast=m.predict(future)
forecast

**Plotting the Apple Stock Forecast for Period of One years**

In [ ]:
figure=m.plot(forecast,xlabel='Date',ylabel='Closing Price')

So the model predicts that the Apple stock Price would increase from Mar 2018 to Mar 2019.

**Plotting component of the Forecast**

In [ ]:
figure=m.plot_components(forecast)